{% extends "base.html" %} 
{% block title %}ADM - Cars Ownership{% endblock %}


{% block content %}
<h1 align="center">Car owners</h1>
<ul class="list-group list-group-flush" id='colors'>
    {% if owners|length > 0 %}
    Owners:
    {% for owner in owners %}
    <li class="list-group-item">{{owner.first_name}}</li>
    {% endfor %}
    {% else %}
    <p align="center">List of owners is empty!</p>
    {% endif %}
</ul>
<br />

<h1 align="center">Register car owners</h1>
<form method="POST">
    <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <br />
    <div class="form-group">
    <label for="color">Choose car color</label>
        <select multiple class="form-control" id="color_car_id">
            {% if colors|length == 0 %}
            <option>No colors available.</option>
            {% else %}
            {% for color in colors %}
              <option value="{{ color.id }}">{{ color.color }}</option>
              {% endfor %}
            {% endif %}
        </select>
    </div>
    <br />
    <div class="form-group">
    <label for="model">Choose car model</label>
        <select multiple class="form-control" id="model_car_id">
            {% if models|length == 0 %}
            <option>No models available.</option>
            {% else %}
            {% for model in models %}
              <option value="{{ model.id }}">{{ model.model }}</option>
              {% endfor %}
            {% endif %}
        </select>
    </div>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary" onClick="console.log('oioioi');">
            Register an owner
        </button>
    </div>
</form>

{% endblock content %}