{% extends "base.html" %} 
{% block title %}Color Management{% endblock %}


{% block content %}
<br />
<h1 align="center">Colors allowed by the system</h1>
<table class="table table-hover">
    <thead>
        {% if colors|length == 0 %}
        <td></td>
        {% else %}
        <td></td>
        <th scope="col">Actions</th>
        {% endif %}
    </thead>
    <tbody>
        {% if colors|length == 0 %}
        <tr class="table-active">
            <td>None colors registered.</td>
        </tr>
        {% else %}
        {% for color in colors %}
        <tr class="table-active">
            <td>{{color.color}}</td>
            <td>
                <button class="btn btn-danger" type="submit" class="close" onClick="deleteColor({{ color.id }})">
                    <span aria-hidden="true">Delete</span>
                </button>
            </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
  </table>
<br />

<h1 align="center">Register car's colors</h1>
<form method="POST">
    <textarea class="form-control" name="color" id="color"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary" onClick="console.log('oioioi');">
            Register a color
        </button>
    </div>
</form>

{% endblock content %}