{% extends "base.html" %} 
{% block title %}Color Management{% endblock %}


{% block content %}
<br />
<h1 align="center">Colors allowed by the system</h1>
<table class="table table-hover">
    <thead>
    </thead>
    <tbody>
        {% if models|length == 0 %}
        <tr class="table-active">
            <td>None models registered.</td>
        </tr>
        {% else %}
        {% for model in models %}
        <tr class="table-active">
            <td>{{model.model}}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>
<br />

<form method="POST">
    <br />
    <h1 align="center">Register car's model</h1>
    <textarea class="form-control" name="model" id="model"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">
            Register a model
        </button>
    </div>
</form>

{% endblock content %}