{% extends "base.html" %} 
{% block title %}Color Management{% endblock %}


{% block content %}

<h1 align="center">Models allowed by the system</h1>
<ul class="list-group list-group-flush" id='models'>
    {% if models|length > 0 %}
    Model:
    {% for model in models %}
    <li class="list-group-item">{{model.model}}</li>
    {% endfor %}
    {% else %}
    <p align="center">List of allowed models is empty!</p>
    {% endif %}
</ul>

<form method="POST">
    <br />
    <h1 align="center">Register car's model</h1>
    <textarea class="form-control" name="model" id="model"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-primary">
            Register a model
        </button>
    </div>
</form>

{% endblock content %}